---
import { Image } from '@astrojs/image/components';
import { Icon } from 'astro-icon'
import cartIcon from "../assets/cartIcon.svg"
export interface Props {
	title: string;
	price: number;
	href: string;
	imageLink: string
	category: string
}

const { href, title, price, imageLink, category } = Astro.props;
---

<li class="bg-gray-200 relative shadow-md list-none p-3 w-[320px] h-[500px]">
	
	<a href={href}>
		<img class="rounded-xl bg-transparent w-full h-3/5"  src={imageLink} alt="image"/>
		<div class="absolute bottom-2 w-full bg-transparent px-3">
			<h2 class="bg-transparent font-semibold text-start my-4">
				{title}
				<!-- <span class="bg-transparent">&rarr;</span> -->
				
			</h2>
			<div class="bg-transparent flex items-center w-full justify-between">
				<div class="bg-transparent">
					<p class="text-xs font-normal bg-transparent mb-2">{category || "clothes"}</p>
					<p class="bg-transparent font-semibold text-sm">$ {price || 30.00}</p>
				</div>

				<div class="bg-[#3734A9] p-2 rounded-full mr-3">
					<Image class="bg-transparent" src={cartIcon} alt="ci" />
				</div>
			</div>
		
		</div>
		
			<!-- <p class="text-xs">
				{price}
			</p> -->
	</a>
</li>
<style>

	/* .link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
		border-radius: 0.35rem;
		color: #111;
		background-color: white;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	} 
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #444;
	} 
 .link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent));
	} */
</style>
